input {
    border: 2px solid black !important;
    padding-left: 10px !important;
    border-radius: 2px !important;
}

button {
    border: 2px solid black !important;
    border-radius: 2px !important;
}